</div class="container">
<footer id="footer">
<p><span class="marker"><span class="highlight">Julius'</span> Portfolio</span>, Copyright &copy; 2018 </p>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
 <script src="/js/bootstrap.js"></script>
 <script type="text/javascript" src="js/main.js"></script>
</body>
