<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charst='UTF-b'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <meta http-equiv='X-UA-Compatible' content='ie=edge'>
	  <title>Chef's Diary</title>
  	<link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
  	<link href="https://fonts.googleapis.com/css?family=Reem+Kufi" rel="stylesheet">
  	<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">	
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">  
    <link rel="stylesheet" href="/css/navBarAndFooter.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark">
	<div class="container">
  		<a class="navbar-brand" href="/"><span class="highlight">Chef's</span> Diary</a>
   		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#tItems" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    		<span class="navbar-toggler-icon"></span>
  		</button>
  		<div class="collapse navbar-collapse" id="tItems">
    		<div class="navbar-nav ml-auto">
      			<a class="nav-item nav-link" href="/">Home</a>
      			<a class="nav-item nav-link" href="/recipes">Recipes</a>
            <a class="nav-item nav-link" href="/cuisines/14">Cuisines</a>
      			<a class="nav-item nav-link" href="/search">Search</a>
   			</div>
    	</div>	
    </div>
</nav>

