<% include partials/header %>
<div class="mainSection"> 
  
  <header class="startup text-center text-white d-flex">
    <div class="container my-auto">
      <div class="row">
        <div class="col-lg-12 my-auto">
          <h1 class="text-uppercase faded">
            <strong>Sup Chef!</strong>
          </h1>
          <hr id="landingHr">
        </div>
        <div class="col-lg-12 my-auto">
          <div id="welcomePageButton">
            <a class="btn btn-primary btn-xl" href="/recipes">Go to Recipes!</a>
          </div>
        </div>
      </div>
    </div>
  </header>


</div>
<% include partials/footer %>