<%include ../partials/header%>
<div class="container mainSection">
<form method="GET" action="#">
	<input type="text" name="searchByName">
	<button type="submit">Search for recipes</button>
</form>

<form>
	<button class="randomSearch" type="submit">Suggested</button>
</form>
</div>
<%include ../partials/footer%>